h1 {
    text-align:right;
    background:rgb(13, 58, 16, 0.5);
}

p {
    text-indent:15px;
}

.basic_info{
    font-style:italic;
    font-weight:bold;
}

.songs {
    text-transform:capitalize;
    word-spacing: 5px;
    letter-spacing:1px;
    line-height: 25px;
}

ul.lists {
    font-family:Verdana, sans-serif;
}

ol.lists {
    font-family:'Gill Sans MT', sans-serif;
}

a {
    text-decoration:solid;
}