/* body {
    background: url("");
} */

/* Inside of the url function we can use a path to an internal image or a link to an external image. */

body {
    background: rgb(238, 238, 238);
}

#title {
    color: rgba(16, 86, 143, 0.87);
}

.subtitle {
    color:rgba(23, 118, 196, 0.801)
}

/* #service-image {
    height: 200px;
    width: 40%;
    background-image: url("img-2.jpg");
    background-color: steelblue;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* The difference between background and background-color or background-image is that 
background can be used for both color and image. */
/* The default state of background-repeat is repeat. */
/* In the background-size property there are two values available. contain stretches the 
image within the image ratio in contrast to cover which stretches the image completely sacrificing some parts of the image. */

/* #service-image {
    height: 200px;
    width: 30%;
    background: linear-gradient(to top left, rgba(0, 89, 255, 0.829), rgba(167, 0, 209, 0.74));
} */

/* We can define the direction of the gradient by predefined names like: 
top, bottom, left, right, top left, bottom right, ... or by degrees e.g. 180deg. 
0deg is in the middle at the top. */

#service-image {
    height: 200px;
    width: 30%;
    background: radial-gradient(circle, rgba(255, 251, 0, 0.842) 10%, rgba(212, 122, 4, 0.938) 60%, rgb(0, 0, 0));
} 

/* The percentage has to go from lower to higher. */