body {
    font-family:'Segoe UI', sans-serif;
    margin: 0;
}

h1 {
    color: white;
    font-size: 2.2em;
    align-self: center;
    margin: 0 1.5vw;
}

h2 {
    color: rgba(109, 0, 0, 0.849);
}

nav {
    width: 100vw;
    height: 2cm;
    background: rgba(129, 129, 129, 0.521);
    display: flex;
    position: sticky;
    top: 0;
}

nav:hover {
    background: rgba(121, 121, 121, 0.7);
}

figure {
    margin: 0;
}

table {
    margin-left: 4vw;
}

td {
    text-align: center;
}

p {
    text-align: justify;
}

aside {
    float: right;
}

footer {
    width: 100vw;
    height: 1cm;
    background: rgba(129, 129, 129, 0.342);
    display: flex;
    align-items: center;
}

main {
    min-height: 100vh;
}

a:active {
    color: black;
}

#specs {
    display: flex;
}

#specs-img {
    width: 50vw;
}

#text {
    margin-left: 1vw;
    display: flex;
}

#description {
    flex: 2 1 100px;
}

#reviews {
    margin-left: 7vw;
    flex: 1 1 100px;
}

#revs-img {
    width: 30vw;
}

#e-mail {
    margin-left: 2vw;
}

#tel {
    margin-left: 4vw;
}

#buy {
    display: flex;
    justify-content: space-between;
}

#form {
    margin-left: 1vw;
}

#imgs {
    margin: 3vw 1vw 0 0;
}

#red-img {
    width: 35vw;
}

#black-img {
    width: 35vw;
}

#buy-h2 {
    margin-top: 2vw;
}

#confirm-header {
    color: rgba(109, 0, 0, 0.849);
    text-align: center;
    font-size: 2em;
    margin-top: 4vh;
}

#confirm-text {
    text-align: center;
}

.about {
    color: white;
    align-self: center;
    padding: 0.3cm 0 0.3cm 1vw;
    border-left: 1px solid black; 
    border-color: white;
    position: absolute;
    left: 70vw;
    font-size: 0.97em;
}

.about:hover {
    color: rgba(163, 22, 22, 0.664);
    border-color: rgba(138, 0, 0, 0.664);
}

.about:link {
    text-decoration: none;
}

.about:visited {
    text-decoration: none;
}

.purchase {
    color: white;
    align-self: center;
    padding: 0.3cm 0 0.3cm 1vw;
    border-left: 1px solid black;
    border-color: white;
    margin-left: 5vw;
    position: absolute;
    left: 78vw;
    font-size: 0.97em;
}

.purchase:hover {
    color: rgba(163, 22, 22, 0.664);
    border-color: rgba(138, 0, 0, 0.664);
}

.purchase:link {
    text-decoration: none;
}

.purchase:visited {
    text-decoration: none;
}

.paragraph {
    text-indent: 1vw;
}

.h3s {
    margin-left: 1vw;
}